@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 320px){
    /* PARTE 1 */
    header > #parte_branca{
        display: flex;
        
        width: 320px;
    }

    header > #parte_branca > li{
        display: inline;
       
       
    }

    

    #header_icons{
        display: flex;
        
        background-color: black;
        color: white;
        width: 100%;
        height: 5vh;
    }

    #header_icons li{
        margin: auto;
        
        list-style: none;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% / 3);
    }

    #header_icons li:hover{
        background-color: #f44336;
    }

    #header_icons li i{
        padding: 15px;
    }

    #parte_1{
        background-color: rgb(255, 255, 255);
        width: 100vw;
        display: block;
        margin: auto;
    }

    #parte_1 > h1{
        display: block;
        font-size: 1.5em;
        text-align: left;
        padding: 15px;
    }

    #parte_1 #main_formulario label{
        color: darkgray;
        padding: 5px;
    }

    #parte_1 #main_formulario input{
        color: darkgrey;
        padding: 8px;
        margin-left: 5px;
    }

    #parte_1 #main_input input{
        padding: 6px;
        border-radius: 0px;
        color: white;
        background-color: rgb(71, 71, 71);
        margin: 15px 5px;
        font-size: 0.7em;
        
        border-color: transparent;
    }

    #parte_1 #main_input input:hover{
        
        background-color: rgb(129, 129, 129);
        
        
        border-color: transparent;
    }

    /* PARTE 2 */

    #fundo_parte_2{
        background-color: rgb(231, 231, 231);
    }

    #parte_2{
        background-color: rgb(231, 231, 231);
        width: 90vw;
        display: block;
        margin: auto;
    }

    #parte_2 > h2{
        text-align: left;
        font-size: 1.5em;
        padding-top: 50px;
        padding-bottom: 10px;

    }

    #parte_2 > p{
        padding-bottom: 10px;
    }

    #imagem_1 img{
        height: 100%;
        width:100%;
       }
    
       #imagem_2 img{
        height: 100%;
        width:100%;
       }
    
       #imagem_3 img{
        height: 100%;
        width:100%;
       }
    
       #imagem_4 img{
        height: 100%;
        width:100%;
       }
    
       #imagem_5 img{
        height: 100%;
        width:100%;
       }
    
       #imagem_1{
        height: 100%;
        width: 100%;
       }
    
       #imagem_2{
        height: 100%;
        width: 100%;
        display: block;
       }
    
       #imagem_3{
        height: 100%;
        width: 100%;
        display: block;
       }
    
       #imagem_4{
        height: 100%;
        width: 100%;
        display: block;
       }
    
       #imagem_5{
        height: 100%;
        width: 100%;
        display: block;
       }

   /* PARTE 3 */
    
   #fundo_parte_3{
    background-color:rgb(231, 231, 231) ;
   }

   #parte_3{
    width: 90vw;
    width: 90vw;
    display: block;
    margin: auto;
   }

   #parte_3 > h2{
    padding-bottom: 20px;
    
   }

   #parte_3 > p{
    padding-bottom: 20px;
    padding-left: 0;
    margin-left: 0;
   }

   .imagem_parte_3{
    width: 100%;
   }

   .imagem_mostruario_parte_3{
    background-color: white;
    margin-bottom: 20px;
    height: 48vh;
   }

   .imagem_mostruario_parte_3 h3, p, input{
    margin-left: 10px;
    padding: 10px;
   }

   .imagem_mostruario_parte_3 input{
        background-color: transparent;
        border-color: transparent;
        
   }

   .imagem_mostruario_parte_3 input:active{
    background-color: rgba(224, 224, 224, 0.534);
    border-color: transparent;
    
    }

    #ofertas_parte_3{
        background-color: rgb(54, 54, 54);
        color: white;
    }
    #ofertas_parte_3 > h2{
        margin-left: 20px;
        padding-top: 20px;
        font-size: 2em;  
    }

    #ofertas_parte_3 > p >#email_offers{
        margin: 0;
        margin-bottom: 10px;
    }

    #ofertas_parte_3 > p > #input_offers{
        margin: 0;

        border-radius: 0px;
        border-color: transparent;
        color: white;
        background-color: #f44336;
    }

    #ofertas_parte_3 > p > #input_offers:active{
        background-color: #d1392e;
    }

    /* footer */

    footer{
        background-color: rgb(231, 231, 231);
    }

    #fundo_footer{
        width: 90vw;
        display: block;
        margin: auto;
    }

    #fundo_info > h2{
        padding: 20px 0px;
    }

   

    #texto_footer{
        margin-left: 0;
        padding: 0;
    }

    .texto_footer{
        margin: 10px;
        margin-left: 0;
        padding: 0;
    }

    .texto_footer i{
        padding-right: 15px;
    }

    .input_footer{
        padding: 0;
        margin: 0;
        
    }

    .input_footer input{
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
        width: 100%;
        height: 45px;
    }

    #input_footer{
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }

    #input_footer input{
        margin: 0;
        padding: 0;

        
        width: 60%;
        height: 45px;

        color: white;
        background-color: black;
        border-radius: 0px;
        border-color: transparent;

    }

    #input_footer input:active{
        background-color: rgba(0, 0, 0, 0.685);
    }


    .fundo_redes_icon{
        text-align: center;
    }
    
}
